@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Carter+One&family=Dancing+Script:wght@400..700&family=Hammersmith+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Onest:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rammetto+One&family=Rowdies:wght@300;400;700&family=Rubik+Mono+One&family=Satisfy&display=swap');

.topDiv{
    background-color: #495057;
    padding: 0.5rem;
    overflow: hidden;
}

.title{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 560;
  font-style: normal;
}
